.wrapper {
    position: relative;
    top: 130%;
    left: 50%;
    width: 170%;
    font-size: 0;
    transform: translate(-50%);
    text-align: center;
}

.letter {
    padding: 0px 15px 0px 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: durerregular;
    font-size: 110px;
    font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    text-align: center;
}
.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: rgba(234,229,229);
    text-align: center;
}
.letter:nth-child(1):before {
    content: "57690482130984356";
    margin-top: -144px;
    animation-name: letter1;
    animation-duration: 3.5s;
    animation-delay: 0.01s;
    animation-fill-mode: forwards;
    text-align: center;
}
@keyframes letter1 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(2):before {
    content: "70628951340984356";
    margin-top: -144px;
    animation-name: letter2;
    animation-duration: 2.29s;
    animation-delay: 0.57s;
    animation-fill-mode: forwards;
    text-align: center;
}
@keyframes letter2 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(3):before {
    content: "015394786290984356";
    margin-top: -144px;
    animation-name: letter3;
    animation-duration: 1.9666666667s;
    animation-delay: 0.41s;
    animation-fill-mode: forwards;
}
@keyframes letter3 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(4):before {
    content: "21396408570984356";
    margin-top: -144px;
    animation-name: letter4;
    animation-duration: 2.73s;
    animation-delay: 0.22s;
    animation-fill-mode: forwards;
}
@keyframes letter4 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(5):before {
    content: "47153026980984356";
    margin-top:-144px;
    animation-name: letter5;
    animation-duration: 3.2s;
    animation-delay: 0.19s;
    animation-fill-mode: forwards;
}
@keyframes letter5 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(6):before {
    content: "30519472860984356";
    margin-top: -144px;
    animation-name: letter6;
    animation-duration: 3.15s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter6 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(7):before {
    content: "68472130590984356";
    margin-top: -144px;
    animation-name: letter7;
    animation-duration: 2.6266666667s;
    animation-delay: 0.39s;
    animation-fill-mode: forwards;
}
@keyframes letter7 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(8):before {
    content: "54908612370984356";
    margin-top: -144px;
    animation-name: letter8;
    animation-duration: 1.2s;
    animation-delay: 1.02s;
    animation-fill-mode: forwards;
}
@keyframes letter8 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(9):before {
    content: "83672591400984356";
    margin-top: -144px;
    animation-name: letter9;
    animation-duration: 1.85s;
    animation-delay: 0.05s;
    animation-fill-mode: forwards;
}
@keyframes letter9 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(10):before {
    content: "90184267530984356";
    margin-top: -144px;
    animation-name: letter10;
    animation-duration: 1.355555556s;
    animation-delay: 0.99s;
    animation-fill-mode: forwards;
}
@keyframes letter10 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(11):before {
    content: "43721650890984356";
    margin-top: -144px;
    animation-name: letter11;
    animation-duration: 2.2s;
    animation-delay: 0.69s;
    animation-fill-mode: forwards;
}
@keyframes letter11 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(12):before {
    content: "49732506180984356";
    margin-top: -144px;
    animation-name: letter12;
    animation-duration: 1.69s;
    animation-delay: 0.91s;
    animation-fill-mode: forwards;
}
@keyframes letter12 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(13):before {
    content: "63728941500984356";
    margin-top: -144px;
    animation-name: letter13;
    animation-duration: 2.24s;
    animation-delay: 0.38s;
    animation-fill-mode: forwards;
}
@keyframes letter13 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
.letter:nth-child(14):before {
    content: "52807439610984356";
    margin-top: -144px;
    animation-name: letter14;
    animation-duration: 2.91s;
    animation-delay: 0.03s;
    animation-fill-mode: forwards;
}
@keyframes letter14 {
    from {
        margin-top: -144px;
   }
    to {
        margin-top: 100px;
   }
}
