
.timeline {
    width: 90%;
    position: relative;
    perspective: 50%;
    left:10%;
}
.timeline:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5%;
    background-color: #383838;
    border-radius: 15%;
    top: 80px;
}
.timeline .timeline-item {
    text-align: center;
    position: relative;
    left:10%;
    right:10%;
    z-index: 1;
    cursor: pointer;
}

.timeline .timeline-item:hover:after {
    transform: scale(1.5, 1.5);
}

.timeline .timeline-item.selected:after {
    background-color: #56b7bb;
    border: 2px solid #eae5e5;
    transform: scale(1.5, 1.5);
}

.timeline .timeline-item:after {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 69px;
    left: 50%;
    background-color: #56b7bb;
    border: 2px solid #eae5e5;
    content: "";
    border-radius: 50%;
    transition: transform 0.5s ease;
}



.flex-container {
    display: flex;
    text-align:center;
}

.flex-items-default {
    width: 224px;
    height: 270px;
    text-align:center;
}

.flex_content{
    font-family: "Gotu";
    /* position:absolute; */
    position:relative;
    color:black;
    font-size: 125%;
    text-align:center;
    padding-left: 25%;
    padding-bottom: 10%;
    width :300%;
}

#tenth, #twelfth,#be, #ms{
    display: none;
    margin-top:25%;
    position:relative;
    color:black;
    font-size: 125%;
    text-align:center;
    padding-top: 15%;
    padding-left: 25%;
    width :150%;

}



#b10:hover #tenth {
    display: block;
}

#b12:hover #twelfth {
    display: block;
}

#bbe:hover #be{
    display: block;
}

#bms:hover #ms{
    display: block;
}

